<head>
  <title>Croton West</title>
</head>
<body>
  <div class="main_div">


    <div id="banner">

      <% if user_signed_in? %> Welcome back , <%=current_user.email%> , you sexy motherfucker you. <br><%= link_to "Log out", destroy_user_session_path, method: :delete %>

      <% else %> Exploring, discovering, and photographing North America

        <div class="sub_banner"><b>view a destination by selecting a state below </b></div>
      <% end %>
    </div>


    <div class="map">

      <iframe src="<%= asset_path( 'map.html' ) %>" width="900" height="525" style="border: none;"></iframe>
      <script>
              if (window.addEventListener){ window.addEventListener("message", function(event) { if(event.data.length >= 22)
              { if( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); }
              else if (window.attachEvent){ window.attachEvent("message", function(event) { if( event.data.length >= 22)
              { if ( event.data.substr(0, 22) == "__MM-LOCATION.REDIRECT") location = event.data.substr(22); } }, false); }
      </script>
    </div>
  </div>




  <div class="featured_head">Featured Places</div>
  <div class="featured">
    <a href="#"> <img src="<%= asset_path( '3sd.jpg' ) %>"/></a>
    <a href="#"> <img class="right" src="<%= asset_path( '4sd.jpg' ) %>"/></a>
    <a href="#">  <img src="<%= asset_path( '5sd.jpg' ) %>"/></a>
    <a href="#">   <img class="right" src="<%= asset_path( '6sd.jpg' ) %>"/></a>
  </div>



</body>
