<div class="photos_div">
  <div class="photos_title">Badlands National Park</div>
<br>



  <img class="photo" src="<%= asset_path( '1sd.jpg' ) %>"/>

  <div class="caption">A male bighorn sheep looks out over the Badlands formations.</div>

  <img class="photo" src="<%= asset_path( '2sd.jpg' ) %>"/>

<div class="caption">The formations are composed of sand, silt, and clay. like sedimentary rocks, they
  show different layers throughtout time. The reddish layers seen are approximately 30 million years old.</div>

  <img class="photo" src="<%= asset_path( '3sd.jpg' ) %>"/>

  <div class="caption">Last light on the formations.</div>

    <img class="photo" src="<%= asset_path( '4sd.jpg' ) %>"/>

  <div class="caption">A bighorn sheep ewe (female) curiously looking at a motion activated camera trap.</div>

    <img class="photo" src="<%= asset_path( '5sd.jpg' ) %>"/>

  <div class="caption">A bighorn ewe captured with a motion sensing camera trap.</div>

 <img class="photo" src="<%= asset_path( '6sd.jpg' ) %>"/>

<div class="caption">Bighorn sheep are incredible climbers and can scale steep cliffs with ease. </div>

<img class="photo" src="<%= asset_path( '7sd.jpg' ) %>"/>

<div class="caption">Unlike most hoofed mammals, bighorn have hooves that are soft and rubber-like. This, as well as the ability to
spread their toes, allow them to grip onto steep rock walls.</div>

<img class="photo" src="<%= asset_path( '8sd.jpg' ) %>"/>

<div class="caption">Two rams spar with eachother. This is only spring, but they are practicing for fall when they will have real
fights over mating rights. Some of these battles can last over 24 hours.</div>

<img class="photo" src="<%= asset_path( '9sd.jpg' ) %>"/>

<div class="caption">A purposeful, controlled burn is set on the outskirts of the park. The praire is set on fire
reduce non-native flora. The firefighter seen here is carrying a flame thrower that is used to light the grasses.</div>

<img class="photo" src="<%= asset_path( '10sd.jpg' ) %>"/>

<div class="caption">A firefighter walks along the burning praire.</div>

<img class="photo" src="<%= asset_path( '11sd.jpg' ) %>"/>

<div class="caption">A bighorn ram</div>

<img class="photo" src="<%= asset_path( '12sd.jpg' ) %>"/>

<div class="caption">Roadside bighorns. This group of older rams had nine sheep in it. There are approximately 100 sheep in the park,
most of which are found in the western areas. </div>

<img class="photo" src="<%= asset_path( '13sd.jpg' ) %>"/>

<div class="caption">The Badlands are known for lack of light pollution and big, open skies. On a clear night the
stars are truly incredible. </div>

<br>
</div>
