<div class="photos_div">
  <div class="photos_title">Title</div>
<br>
  <img class="photo" src="<%= asset_path( 'stickbg.jpg' ) %>"/>

  <div class="caption">this is a caption this is a caption this is a caption this is a caption
   this is a caption this is a caption this is a caption this is a caption this is a caption
 this is a caption this is a caption this is a caption this is a caption this is a caption</div>

<img class="photo" src="<%= asset_path( 'stickbg.jpg' ) %>"/>

<div class="caption">this is a caption this is a caption this is a caption this is a caption
 this is a caption this is a caption this is a caption this is a caption this is a caption
this is a caption this is a caption this is a caption this is a caption this is a caption</div>

  <img class="photo" src="<%= asset_path( 'stickbg.jpg' ) %>"/>

  <div class="caption">this is a caption this is a caption this is a caption this is a caption
   this is a caption this is a caption this is a caption this is a caption this is a caption
 this is a caption this is a caption this is a caption this is a caption this is a caption</div>

  <img class="photo" src="<%= asset_path( 'stickbg.jpg' ) %>"/>

  <div class="caption">this is a caption this is a caption this is a caption this is a caption
   this is a caption this is a caption this is a caption this is a caption this is a caption
 this is a caption this is a caption this is a caption this is a caption this is a caption</div>

  <img class="photo" src="<%= asset_path( 'stickbg.jpg' ) %>"/>

  <div class="caption">this is a caption this is a caption this is a caption this is a caption
   this is a caption this is a caption this is a caption this is a caption this is a caption
 this is a caption this is a caption this is a caption this is a caption this is a caption</div>
<br>
</div>
