<h1>Listing galleries</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td><%= image_tag gallery.image.url(:medium) %></td>
        <td><%= gallery.description %></td>
        <td><%= gallery.user.email if gallery.user %></td>
        <td><%= link_to 'Show', gallery_path(gallery) %></td>
        <% if gallery.user == current_user %>
          <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
          <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New gallery', new_gallery_path %>
<% end %>