<p id="notice"><%= notice %></p>

<%= image_tag @galleries.image.url %>

<p>
  <strong>Description:</strong>
  <%= @galleries.description %>
</p>

<%= link_to 'Edit', edit_galleries_path(@galleries) %> |
<%= link_to 'Back', galleries_path %>
